//
//  Testing.xcconfig
//  WorldOfPayback
//
//  Created by Merima Muhovic on 1. 5. 2023..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_NAME = WorldOfPayback
BUNDLE_IDENTIFIER = com.payback.WorldOfPayback.Test
BUNDLE_VERSION = 1.0.0
BUNDLE_BUILD = 1

serverUrl = http:/$()/api-test.payback.com/transactions
